@import './variables.scss';

.home_top {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;
	background-image: url("../../assets/bg2.jpg");
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-position: center; 
}

.title {
	margin: 50px 0 200px 0;
	font-size: 70px;
	font-weight: 700;
	color: white;
	text-shadow: -5px 5px black;
}

.home_bottom {
	display: flex;
	justify-content: center;
	background-color: $dark-lightblue;
	height: 100%;
}

.featured_title {
	color: $terciary-gold;
	font-size: 30px;
	margin: 140px 0 0 0;
}

.featured_games {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 310px;
	justify-items: center;
	width: 100%;
	padding: 20px 0;

	& > div {
		margin-right: 10px ;
	}
}