$primary-color: hsla(337°, 64%, 61%, 0.8);

// blue colors
$primary-blue: hsla(198°, 100%, 25%, 1);
$secondary-blue: hsla(187°, 97%, 34%, 1);
$terciary-blue: hsla(180°, 82%, 89%, 1);
$soft-blue: hsla(180°, 82%, 89%, 1);
$dark-blue: hsla(210°, 14%, 14%, 1);
$dark-lightblue: hsla(200°, 20%, 15%, 1);

// red colors
$primary-red: hsla(360°, 100%, 67%, 1);

// gold colors
$primary-gold: hsla(41°, 56%, 51%, 1);
$secondary-gold: hsla(40°, 45%, 61%, 1);
$terciary-gold: hsla(40°, 50%, 88%, 1);