@import "../../app/styles/variables.scss";

.flip_card {
    width: 177px;
    height: 349px;
    perspective: 1000px;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.flip_card_inactive:hover .flip_card_inner {
    transform: rotateY(-20deg);
    cursor: pointer;
}

// .flip_card_active:hover .flip_card_inner {
//     transform: rotateY(200deg);
// }

.flip_card_active .flip_card_inner {
    transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip_card_back {
    background-color: $primary-blue;
    color: white;
    transform: rotateY(180deg);
}

.blue_back_card {
    background-color: $primary-blue;
}

.red_back_card {
    background-color: $primary-red;
}

.summoner_card {
    border-radius: 5px;
    margin: 2px;
}

.player_name {
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_body {
    width: 177px;
    height: 320px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.summoner_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0 10px;
    user-select: none;

    img {
        width: 30px;
        margin-left: 2px;
        
    }
}

.blue_gradient {
    background-image: linear-gradient(hsla(0, 0, 0, 0), $primary-blue); 
}

.red_gradient  {
    background-image: linear-gradient(hsla(0, 0, 0, 0), $primary-red); 
}

.card_back_content {
    text-align: start;
    h1 {
        font-size: 14px;
    }
}

.flip_back_btn {
    @include resetBtn;

    img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg) brightness(101%) contrast(102%);
    }
    
}