@import '../../app/styles/variables.scss';

.tip_card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px;
    padding: 5px 15px;
    text-align:start;
    font-size: 12px;
}

.tip_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
        text-align: center;
    }
}

.paragraph {
    @include formatTextOverflowMultipleLines(8);
    margin: 5px 0;
}

.change_tip_btn {
    @include resetBtn;
    display: flex;
    align-items: center;

    img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg) brightness(101%) contrast(102%);
    }    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }