@import "../../../styles/variables.scss";

.layout {
    background-image: url("../../../../assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
}

.center_frame {
    margin: 10px 0;
}

.search_bar {
    display: flex;
    align-items: center;
    
    
    a {
        margin-right: 10px;
        text-decoration: inherit;
        color: $primary-gold;
    }
}