.summoner_match {
    display: flex;
    justify-content: center;
}

.general_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 0 20px;
    height: 60px;
}

.summoner_cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs {
    width: 100%;
    text-align: center;
    color: white;
}